/* các thẻ màu chính */
.main-color {
  color: #86b817;
}
.bg-main-color {
  background-color: #86b817;
}
.bg-footer-color {
  background-color: #f8f8f8;
}
.container-wrapper {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}
